<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="../../../styles/homePageAdmin.css">
</head>
<body>
    <header>
        <div class="header-content">
            <img class="header-image" src="../../../assets/images/logo.jpeg" alt="../../../assets/images/logo daun">
            <h3>UTeM EcoHarvest</h3>
        </div>
        <nav class="nav-container">
            <ul>
                <li><a href="../homePage/homePageAdmin.html">Home</a></li>
                <li><a href="../postProgram/postProgram.html">Add Program</a></li>
                <li><a href="../viewParticipant/viewParticipant.html">View Participant</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <div class="container">
            <h2>Programs List</h2>
            <div class="search-container">
                <input type="text" placeholder="Search...">
                <button>Search</button>
                <button id="filter-date-button">Filter </button>
                <div id="date-filter-container" style="display: none;">
                    <input type="date" id="filter-date-input">
                    <button id="apply-date-filter">Apply Filter</button>
                </div>
            </div>
            <div class="programs-list-container" id="programs-list-container"></div>
        </div>
    </main>

    <footer>
        <div class="footer-content">
            <div class="footer-logo">
                <p>Universiti Teknikal Malaysia Melaka,<br>76100, Hang Tuah Jaya,<br>Durian Tunggal,<br>Melaka.</p>
            </div>
            <div class="footer-row">
                <div class="footer-links">
                    <div class="about">
                        <h3>About</h3>
                        <a href="#">FAQs</a>
                    </div>
                    <div class="community">
                        <h3>Community</h3>
                        <a href="#">Vlogs</a>
                        <a href="#">Events</a>
                    </div>
                </div>
            </div>
            <div class="footer-contact">
                <h3>Ask a Question</h3>
                <a href="#" onclick="sendMail()">Send an Email</a>
            </div>
        </div>
    </footer>
    <script src="filterProgramJS.js"></script>
    <script src="homePageAdminJS.js"></script>
</body>
</html>
